<div class="panel panel-default">
  <div class="panel-heading">About</div>
  	<div class="panel-body">
  		<p>
			  Here's all the fame you need for all the talent you've got, the work you do and how amazingly you flaunt your "talent"! A one stop destination for all fun events! Video, Talent Hunt, Most popular face, and many more. All in one package! Here you go! Pick the best with Talent Arena
			</p>
  		<p>
				TalentArena is a social media website which hosts online fun events. We host events in form of competitions in which the participants are asked to upload the content from their pikapik profiles. The users of talent arena can pick one or multiple content on the page which appeals to them. There is a set deadline for each event, and at the end of the deadline, the participant who has the highest number of votes on his content is declared the winner. The website promotes positive competition among the competitors.
			</p>
  	</div>
  </div>
</div>

