<h4><%="#{@current_user.name.capitalize}"%> ,You're just few steps far from the fame you are craving for!</h4>
<h6>Upload your video now and let the magic begin</h6>
 
<%= form_for @video,url:competition_videos_path(@competition),method: :post do |f| %>
  <div>
    <% f.label :video %><br>
    <%=f.file_field :video%>
  </div>
  <br>
  <br>
  <br>
  <div>
    <%= f.submit 'Upload now' %>
  </div>
<% end %>
 
	